// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album_show_div{
     background: linear-gradient(#42607A 15%, #131313 );;
}

.album_show_top{
    min-height: 380px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.album_show_top > * {
    margin-bottom: 25px;
    
}

.album_show_pic{
   display: flex;
    height: 235px;
    width: 235px;
    margin-left: 500px;
}

.album_show_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 25px;
    height: 165px;
    color: #ffffff;
}

.album_show_bottom{
    height: max-content;
}

#album_show_title{
    font-size: 70px;
    font-family: Verdana;
}

.album_show_bottom{
    min-height: 500px;
    padding-bottom: 150px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2); 
    display: flex;
    flex-direction: column;
}

.album_show_bottom > * {
    margin-left: 35px;
}
.song_component_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-radius: 12px;  
}