// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-show-container{
     background: linear-gradient(#42607A 15%, #131313 );
     
     margin-left: 225px;
   
}




.album-show-top{
    display:flex;
    flex-direction: row;
}

.show_top_pic{
    display: flex;


   
}

#album-show-profile{
    height: 235px;
    width: 235px;
   padding-top: 60px;
   padding-left: 30px;
}

.album-info{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin-top: 132px;
    margin-left: 30px;
    height: 165px;
    color: #ffffff;
}

.album_show_bottom{
   
}

.album-song-bot-top{
     display: flex;
    flex-direction: row;
    padding-top: 20px;
    color: white;
    
}

.album-song-orderNum{
    padding-left: 40px;
    margin-right: 350px;
}

.album-show-name{
    font-size: 70px;
    font-family: Verdana;
    
}

.album-show-sub{
    display: flex;
    flex-direction: row;
    
}

.album-artist-link{
    margin-right: 5px;
}



.album_show_bottom{
    margin-top: 60px;
    min-height: 100vh;
    
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2); 
    display: flex;
    flex-direction: column;
   
}

.album-song-bot-top{
    padding-left: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    font-size: 75%;
    font-weight: 750;
    letter-spacing: 2px;
    color: darkgray;
}
