// #artist_show_container{
    
//     padding-top: 60px;
//     min-height: 100vh;
//     height: max-content;
    
//     padding-bottom: 150px;
//     padding-left: 225px;
   
// }

.artist_show_pic{
    height: 385px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: -1;
    display: flex;
}

.artist_show_div{
    
    margin-top: 275px;
    margin-left: 225px;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,.87), rgba(0,0,0,1) );
    
   
    color: white;
}


