.artist_show_pic{
    height: 385px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: -99;
}

.artist_show_div{
    
    // height: max-content;
    // margin-bottom: 80px;
    background: linear-gradient(#222222 15%, #131313 );
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
}
.artist_show_name{
   font-size: 70px;
   font-weight: 700;
   margin-top: 20px;
  

}
.artist_album_div{
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}