// #artist_show_container{
    
//     padding-top: 60px;
//     min-height: 100vh;
//     height: max-content;
    
//     padding-bottom: 150px;
//     padding-left: 225px;
   
// }

.artist_show_pic{
    height: 500px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: -1;
    display: flex;
}

.artist_show_div{
    
    margin-top: 155px;
    margin-left: 225px;
  
    color:#dedcd7
}

.artist_show_name{
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 100px;
    font-weight: 500;
    color: rgb(231, 229, 229);
}

.artist_show_bulk{
 background: linear-gradient(rgba(0,0,0,.87), rgba(0,0,0,1) );
 min-height: 100vh;
 padding-left: 30px;
 padding-top: 30px;
}

.artist_album_div_title{
    font-size: 30px;
    font-weight: 600;
}


