// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#artist-index{
     z-index: 1;
     padding-left: 30%;
}

#artist_show_container{
     padding-left: 30%;
}