.playlist-show-container{
background: linear-gradient(rgba(0,0,0,.87), rgba(0,0,0,1) );
 min-height: 100vh;
padding-left: 225px;
 padding-top: 80px;
 color: white;
}

.playlist-show-info{
    display: flex;
    flex-direction: column;
    
}
.playlist-show-header{
    padding-left: 100px;
   font-size: 70%;
   font-weight: 550;
   letter-spacing: 3px; 
   color: lightgray;
   margin-left: 12px;
}

.playlist-name{
    padding-left: 100px;
    margin-bottom: 60px;
    font-size: 350%;
    margin-right: -343px;
    
}

.playlist-name-container{
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
}

.playlist-confirm{
    margin-left: 0;
    font-size: 70%;

}

.playlist-song-headers{
     display: flex;
    flex-direction: row;
    padding-top: 20px;
    color: white;
     padding-left: 135px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    font-size: 75%;
    font-weight: 750;
    letter-spacing: 2px;
    color: darkgray;
}
    
.playlist-song-headers{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-areas: "title empty button";
    align-items: right;
}

.playlist-song-container-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
   
    align-items: center;
    color: white;
}

.playlist-song-container{
    display: flex;
    flex-direction: row;
    color: white;  
     padding-top: 20px;
    padding-bottom:20px;
}

.playlist-song-title{
    grid-area: title;
}

.playlist-edit-btns{
    display: flex;
    flex-direction: row;
}

.playlist-dlt{
   margin-left: 15px;
    
}


.playlist-song-container-container:hover{
   background-color: rgb(114, 108, 108); 
   
   
}



.playlist-song-name{
   margin-left: 85px;
}

.playlist-play-button{
   
    margin-left: 35px;
    padding-bottom: 10px;
}

.add-delete-song-btns{
   display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




