.search-container{
     background: linear-gradient(#181818, #131313 );
      min-height: 100vh;
    height: max-content;
    padding-bottom: 150px;
    padding-top: 50px;
    padding-left: 40px;
    margin-left: 225px;
    color: white;

}

.search-headers{
    padding-left: 20px;
    padding-top: 10px;
}

.search{
    padding-left: 20px;
}



.search-song-container{
    background-color: #222222;
   
    margin-right: 65%;
    margin-left: 20px;
    justify-items: center;
    align-items: center;
   
}


.search-song-name{
   padding-left: 120px;
   padding-top: 10px;
   padding-bottom: 10px;
    border: 1px solid rgb(43, 42, 42); 
   
}


    


.search-song-name:hover{
 background-color: darkgray;
  border-radius: 5px;
}


.search-album-container,.search-artist-container{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.no-search{
    font-size: 80%;
    padding-left: 80px;
    color: darkgray
}
