.search-container{
     background: linear-gradient(#181818, #131313 );
      min-height: 100vh;
    height: max-content;
    padding-bottom: 150px;
    padding-top: 50px;
    padding-left: 40px;
    margin-left: 225px;
    color: white;

}

.search-headers{
    padding-left: 20px;
    padding-top: 10px;
}

.search{
    // padding-left: 38%;
    padding-left: 20px;
}



.search-song-container{
    background-color: #353535;
   
    margin-right: 65%;
    margin-left: 20px;
}

.search-song-name{
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
  

}

.search-song-name:hover{
 background-color: darkgray;
  border-radius: 5px;
}


.search-album-container{
    display: flex;
    flex-direction: row;
}