.search-container{
     background: linear-gradient(#181818, #131313 );
      min-height: 100vh;
    height: max-content;
    padding-bottom: 150px;
    padding-top: 50px;
    padding-left: 40px;
    margin-left: 225px;
    color: white;

}

.search-headers{
    padding-left: 20px;
    padding-top: 10px;
}

.search{
    padding-left: 38%;
}


