
.song-container-container{
    display: flex;
    flex-direction: row;
    
}

.song-container{
    
    color: white;
    padding-top: 20px;
    padding-bottom:20px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
   

}

.song-container-container:hover{
   background-color: rgb(114, 108, 108);  
   
}

.song-name{
    margin-left: 245px;
    
}

.play-button{
    margin-right: 25px;
}

.add-playlist-container{
    justify-content: flex-end;
}