
.song-container-container{
  display: grid;
    grid-template-columns: 4fr 1fr;
    
    align-items: center;
    color: white;
     
   
    
}

.song-container{
    
   display: flex;
   flex-direction: row;
    padding-top: 20px;
    padding-bottom:20px;
  
  
   

}

.song-container-container:hover{
   background-color: rgb(114, 108, 108);  
   
}

.song-name{
    margin-left: 350px;
    
}

.play-button{
    margin-right: 25px;
}

