#header_component{
    max-height: 50px;
    min-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 241px;
    width: fill;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: rgba(0, 0, 0, 1)
    background-color: #181818;
     color: white;
}


// .header-content{
//     margin-left: 80%;
// }

.header-content{
    display: flex;
    flex-direction: row;
    color: white;
}




.header-logout-container{
    width: 10px;
    height: 50px;
   
    margin-right: 80px;
    
}

.links-container{
    width: 10px;
    height: 50px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    
   
}
.header-logout{
     background-color: #3d3d3d;
     border-radius: 15px;
     width: 42px;
     display: inline-flex;
    padding-left: 17px;
    font-size: 80%;
    font-weight: 500;
    
}
.links-btn{
     background-color: #3d3d3d;
     border-radius: 15px;
    height: 26px;
    padding-top: 6px;
    display: inline-flex;
    padding-left: 16px;
    margin-top: 3px;
    width: 50px;
    font-size: 80%;
    font-weight: 500;
}



.header_buttons{
    padding-left: 15px;
    
}
#header_back_button{
    margin-right: 30px;
}



#hidden{
    display: none;
}


#revealed{
    display: flex;
    flex-direction: column;

    height: 32px;
    width: max-content;
    min-width: 160px;
    
    color: azure;
   
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    border-radius: 15px;
    background-color: #282828;
    font-family: Verdana;
    margin-right: 60px;
    margin-top: 10px;
}