.main_div{
    background-image: linear-gradient(rgb(113, 113, 151), black);
    height: 100vh;
    
}
.main_and_side_div{
    height: 100%;
    display: flex;
}

.main_content_window{
    overflow: scroll;
    margin-left: 280px;
}

.side_component{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    min-width: 220px;
    height: 100%;
}


.playbar_component{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #191919;
    // min-height: 97px;
    height: 13%;
    z-index: 1;
}

#user_profile_div{
    width: 280px;
    display: flex;
    justify-content: space-between;
}