
.main_div{
  margin: 0;
  padding: 0;
}
.main-view{
    top: 0;
}

// .playbar_component{
//     position: fixed;
//     // margin-right: 50px;
//     // left: 0;
//     width: 100%;
// }

.side_component{
    position: fixed;
    top: 0;
    background-color: #000000;
    min-width: 220px;
    height: 100%;
}


.playbar_component{
   
    // min-height: 97px;
    
}

#user_profile_div{
    width: 280px;
    display: flex;
    justify-content: space-between;
}