.playbar_component{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.player-toolbar{
    display:flex;
    flex-direction: row;
   
}

.player{
    
}

.player{
    margin-left: 5px;
}
.play-button{
    margin-left: 35px;
    margin-right: 30px;
}

.volume-slider{
    display: flex;
    flex-direction: row;
}
.volume-icon{
    margin-right: 10px;
}



